<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
      <p class="menu-label is-hidden-touch">Categorias</p>
      <ul class="menu-list">
        {{ $current := . }}

        {{ range .Site.Menus.nav }}
          {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
          {{ $active := or $active (eq .Name $current.Title) }}

          <li>
                <a href="{{ .URL }}" class="{{if $active}}is-active{{end}}">
                    <span class="icon"><i class="{{ .Pre  }}"></i></span> {{ .Name}}
                  </a>
                </li>

        {{ end }}
      </ul>

    </aside>