<div class="column is-one-quarter">
	<a href="{{ .Permalink }}">
	<div class="card">
			<header class="card-header">
				<p class="card-header-title">
					{{ .Title }}
				</p>
				<!-- <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a> -->
			</header>
			<figure class="image is-square">
			  <img src="{{ .Params.image }}">
			</figure>
			<footer class="card-footer">
				 <p *ngIf="item.valor_entrega" class="card-footer-item">

        <span>
          <i class="fas fa-money-bill" style="color: #216C2A"></i> {{ .Params.Price_delivery }}
        </span>


				    </p>

				    <p *ngIf="item.tempo_entrega" class="card-footer-item">

				      <span>
				        <i class="fas fa-clock"></i> {{ .Params.Time_delivery }}

				      </span>

				       </p>
			</footer>



		</div>
	</a>
	</div>